/* ABOUT ME */

.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 6rem;
    background-color: #fff;
    height: 750px;
    width: 100%;
    padding: 8rem;
    /* border: 1px solid red; */
}

.about-me .about-me__img {
    display: flex;
    justify-content: right;
    width: 31%;
    /* border: 1px solid red; */
}

.about-me .about-me__img img {
    width: 380px;
    border-radius: 5;
    filter: grayscale(100%);
}

.about-me .about-me__content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 2rem;
    width: 48%;
    color: black;
}

.about-me__content .about-me__content-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-me__content .about-me__content-text h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.mim-color {
    color: #F2600C;
}

.about-me__content .about-me__content-text p {
    width: 90%;
    line-height: 2rem;
    font-size: 0.9rem;
    color: grey;
}

.about-me__content-icons {
    display: flex;
    justify-content: flex-start;
    gap: 10rem;
}

.about-me__content-icons__item {
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: capitalize;
}

.fa-solid {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.about-me__content-button button {
    height: 2.5rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background:
        linear-gradient(-45deg, #ffffff, #F2600C, #ffffff);
    background-size: 400%;
    background-position: 90% 0;
    color: #000000;
    transition: background 0.8s;
    font-weight: 500;
    font-size: 1rem;
}

.about-me__content-button button:hover {
    background-position: 185% 50%;
}


/* JOBS */

.jobs {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    padding: 8rem 0;
    /* border: 1px solid red; */
}

.jobs .jobs__title {
    /* border: 1px solid red; */
    display: flex;
    width: 65%;
    color: #000000;
    padding-bottom: 5rem;
}

.jobs .jobs__title h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}



/* GALERRY */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0 10px;
    width: 67.5%;
}

.gallery-item {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
}

.gallery-item .overlay {
    display: none;
}


.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
}

.gallery-item img:hover {
    transform: scale(1.05);
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.gallery-button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 3rem;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/*  SKILLS */

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
}

.skills .skills__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    gap: 5rem;

}

.skills .skills__content .skills__content-text {
    display: flex;
    flex-direction: column;
    color: black;
    width: 39.5%;
    font-size: 1rem;
}

.skills .skills__content .skills__content-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 34%;
    /* background-color: #000000; */
}

.progress {
    width: 100%;
    background-color: #bbb;
    border-radius: 30px;
}

.progress-bar {
    height: 1rem;
    background-color: #F2600C;
    border-radius: 30px;
    text-align: center;
    font-size: 0.7rem;
}


/* CALL-TO-ACTION */

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgb(0, 0, 0)),
        url(../icons/background-call-to-action.jpg);
    background-size: cover;
    padding: 8rem;

}

.call-to-action .call-to-action__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* border: 1px solid red; */
    gap: 5rem;
}

.call-to-action__content-text {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    /* text-align: left; */
    font-size: 1.2rem;
}


.call-to-action__content-button {
    width: 50%;
    display: flex;
    justify-content: end;
}

.call-to-action__content-button button {
    align-items: center;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 1rem;
}

.call-to-action__content-button button::before {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 10px;
    transition: all .42s cubic-bezier(.25, .8, .25, 1);
    width: 0;
}

.call-to-action__content-button button:hover::before {
    background-color: #fff;
    width: 3rem;
}


/* CONTACT */

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
    color: #000;
    padding: 4rem 0;
}

.contact .contact__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 68%;
    /* border: 1px solid red; */
}

.contact .contact__content .contact__content-text {
    width: 100%;
    /* border: 1px solid red; */
}

.contact .contact__content .contact__content-text h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.contact .contact__content .contact__content-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 100px; */
    padding: 4rem 0;

}


.contact__content-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 50%;
    /* gap: 1rem; */
    /* border: 1px solid red; */
}

.contact__content-info p {
    font-size: 0.9rem;
    color: #a1a1a1;
    padding-bottom: 2rem;
}

.lista__contact {
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: start;
    /* border: 1px solid red; */
    font-size: 0.9rem;
}



.lista__contact a {
    font-weight: bold;
}

.contact__content-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    /* border: 1px solid red; */
}


/* From Uiverse.io by gharsh11032000 */ 
.form-container {
    width: 400px;
    background: linear-gradient(#fff, #f1f1f1) padding-box,
                linear-gradient(145deg, transparent 35%,#F2600C, #40c9ff) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #000000;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: #000000;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #F2600C;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #F2600C;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #fff;
    font-weight: 600;
    width: 40%;
    background: #F2600C;
    border: 1px solid #c4c4c4;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #41CAD9;
    border-color: #c4c4c4;
  }
  
  
  
  























/* FOOTER */


.footer {
    background-color: #000;
    /* Fundo preto */
    padding: 50px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.footer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, transparent, #F2600C, transparent);
    animation: borderGlow 2s linear infinite;
}

@keyframes borderGlow {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-logo {
    display: flex;
    justify-content: start;
}


.footer-logo img {
    width: 130px;
    /* Ajuste o tamanho da logo */
}

.footer-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 0;
}

.footer-menu li {
    display: inline-block;
}

.footer-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.footer-menu a:hover {
    color: #F2600C;
    /* Cor laranja no hover */
}

.footer-social {
    display: flex;
    gap: 15px;
}

.footer-social a {
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

.footer-menu h3 {
    font-size: 0.9rem;
}

.footer-social a:hover {
    color: #F2600C;
    /* Mesmo efeito do menu */
}












/* RESPONSIVO */

@media (max-width: 768px) {

    .about-me {
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 4rem 0rem;
    }

    .about-me .about-me__img {
        width: 90%;
        justify-content: center;
        /* padding-top: 4rem; */
    }

    .about-me .about-me__img img {
        width: 350px;
    }

    .about-me .about-me__content {
        text-align: center;
        width: 90%;
    }

    .about-me .about-me__content h1 {
        padding-top: 1rem;
        font-size: 1.3rem;
        text-align: center;
    }

    .about-me .about-me__content p {
        text-align: justify;
        width: 100%;

    }

    .about-me__content-icons {
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    /* JOBS */

    .jobs {
        padding: 4rem 0;
    }

    .jobs .jobs .jobs__content {
        width: 96%;
    }

    .jobs .jobs__title {
        width: 96%;
        justify-content: center;
        text-align: center;
    }

    .jobs .jobs__title h1 {
        width: 100%;
        font-size: 1.3rem;

    }

    .jobs__content-item {
        justify-content: center;
        gap: 30px;
    }


    /* GALLERY */


    .gallery {
        width: 100%;
    }

    .gallery-item {
        flex: 1 1 calc(50% - 20px);

    }

    /*  SKILLS */

    .skills__content {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .skills .skills__content {
        gap: 3rem;
        padding: 4rem 1rem;
        text-align: center;
    }

    .skills .skills__content p {
        margin-top: 1rem;
        text-align: justify;
    }

    .skills .skills__content .skills__content-text {
        width: 100%;
    }

    .skills .skills__content .skills__content-list {
        width: 100%;
    }

    /* CALL TO ACTION */


    .call-to-action {
        padding: 4rem 3rem;
    }

    .call-to-action .call-to-action__content {
        flex-direction: column;
        width: 100%;
        padding: 0;
        gap: 2rem;
    }

    .call-to-action__content-text {
        width: 100%;
        padding: 0;
        justify-content: center;
        text-align: center;
    }

    .call-to-action__content-button {
        width: 100%;
        justify-content: center;
    }


    /* CONTACT */

    .contact .contact__content {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .contact .contact__content .contact__content-list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .contact .contact__content .contact__content-text {
        text-align: center;
    }

    .contact__content-info {
        width: 94%;
        align-items: start;
        text-align: start ;
    }

    .contact__content-form {
        width: 94%;
        align-items: center;
    }




    /* FOOTER */

    .container {
        flex-direction: column;
        text-align: center;
    }

    .footer-menu {
        flex-direction: row;
        gap: 10px;
        margin: 20px 0;
    }

    .footer-social {
        margin-top: 20px;
    }

}




@media (max-width: 1024px) {}